[Unit]
Description=MTGC daily price fetch ({{INSTANCE}})

[Service]
Type=oneshot
ExecStart=podman exec systemd-mtgc-{{INSTANCE}} mtg data fetch-prices --force
ExecStart=podman exec systemd-mtgc-{{INSTANCE}} mtg data fetch-sealed-prices
TimeoutStartSec=900
